@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

$padding-lrg: 20px;
$padding-med: 10px;
$padding-sml: 5px;

$border-lrg: 20px;
$border-med: 15px;
$border-sml: 10px;

$txt-lrg: 24px;
$txt-med: 18px;
$txt-sml: 14px;

$colors-text: (
    txt1: #000000D9,
    txt2: #FFFFFF,
);

$colors-background: (
    bckg1: #F79E02,
    bckg2: #FFFFFF,
    bckg3: #736357,
    bckg4: #F92626
);

*{
    font-family: 'Ubuntu';
}

body{
    margin: 0;
    background-color: map-get($colors-background, bckg2);
}   
 /*********************** Logo ***********************/
body .logo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: $padding-lrg;
}

body h1{
    margin-left: 15%;
    font-size: $txt-lrg;
    font-weight: 700;
}

body h4{
    font-size: $txt-sml;
    font-weight: 500;
}

body span{
    font-size: $txt-sml;
    font-weight: 500;
}

/*********************** Cards ***********************/
body .tank-cards{
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 35px;
    box-shadow: 0 3px 9px 0 #736357;
    border-radius: 10px;
}

body .tank-cards:hover{
    box-shadow: 0 6px 18px 0 #736357;
}

body .tank-cards .card-content{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: $padding-med;
    padding-bottom: $padding-med;
    font-weight: 400;
    font-size: $txt-sml;
}

body .tank-cards button{
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    outline: 0;
    display: inline-block;
    padding: $padding-med;
    width: 100%;
    background-color: map-get($colors-background, bckg4);
    cursor: pointer;
    text-align: center;
    font-weight: 700;
    font-size: $txt-med;
    color: map-get($colors-text, txt2);
    opacity: 0.8;
}