<!doctype html>
<html lang="en">
    <head>
        <!------------------     Boiler Plate    ------------------>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <!------------------     Title    ------------------>
        <title>Home</title> 

        <!------------------     Style-Sheet    ------------------>
        <link rel="stylesheet" href="/client/static/index.css">

         <!------------------     Font-Awesome    ------------------>
         <script src="https://kit.fontawesome.com/83715fa62b.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <!------------------     NavBar    ------------------>
        <nav>
            <div class="nav-items">
                <ul>
                    <li class="list-left active">
                        <a href="index.html">
                            <span><i class="fas fa-home"></i></span>
                            <span>Home</span>
                        </a>
                    </li>
                    <li class="list-left">
                        <a href="patientAdd.html">
                            <span><i class="fas fa-user-plus"></i></span>
                            <span>Add Patient</span>
                        </a>
                    </li>
                    <li class="list-right"> 
                        <span> Welcome, <b>User</b> </span>
                        <span class="user-icon">U</span>
                    </li>
                </ul>
            </div>
        </nav>
     
        <!------------------     Cards    ------------------>
        <div class="container" id="blur"></div>

        <!------------------     Form    ------------------>
        <div class="popup-form" id="popup">
            <form action="#">
                <label for="fname">First Name:</label><br>
                <input type="text" id="fname" name="fname"><br><br>

                <label for="lname">Last Name:</label><br>
                <input type="text" id="lname" name="lname"><br><br>

                <label for="age">Age:</label><br>
                <input type="number" id="age" name="age"><br><br>

                <input type="submit" value="Submit" onclick="toggleForm()">
            </form>
        </div>

        <!------------------     Javascript    ------------------>
        <script type="text/javascript" src="/client/scripts/createCard.js"></script>  
    </body> 

</html>